* {
  box-sizing: border-box;
  
}

body {
  display: block;
  margin: 100px;
  border: 3px solid aqua;
}

.container {
  display: flex;
}

.left,.right {
  padding: 100px;
  border-right: 3px solid aqua;
}

.right {
  border: none;
}

.header {
  display: block;
  text-align: center;
  align-content: center;
  position: relative;
  margin-top: -3em;
  background-color: white;
  width: 25%;
  left: 37.5%;
}

